#name {

	color: #0000ff;
	font-size: 20px;
	margin-top: 40px
}

.row{
	border-bottom: 3px solid black;
	border-bottom-right-radius: 3em;
}

#searchResults{
	display: inline-block;
	vertical-align: bottom;

}

h4{
	font-size: 20px;
	margin-top: 40px
}

.bill{
	display: none;
}
body{
	
background-color: #536399;
}
.well, .jumbotron{
	background-color: #C2C1FF;
}
#search{
	vertical-align: center;
}